module.exports = {
	options: {
		debug: true
	},
	connection: {
		reconnect: true
	},
	identity: {
		username: "username",
		password: "password", // https://twitchapps.com/tmi/
	},
	channels: ['channel'],
	cooldown: 5000,
	commandPrefix: '!',
	webhookUrl: "url"
}

// Create a file called config.js following this template